<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    
    <title>TEMPLATE17</title>
    
    <meta name="author" content="Curtis Coddington">
    <meta name="description" content="OUR TEMPLATE FOR AWESOME THIS YEAR">
    
    {{> global-css }}
    
</head>