{{!-- main html page layout using handlebars break up into manageable chunks--}}
<!DOCTYPE html>
<html lang="en">
    
    {{> head}}
    
    <body>
        {{> nav }}

        {{ body }}
        
        {{> footer }}
        
        {{> global-scripts }}
    </body>
    
</html>